.sm-margin-right
{
	margin-right: 0.5em;
}

.text-black
{
	color: black;
}

.sm-margin-left
{
	margin-left: 0.5em;
}

.sm-margin-bottom
{
	margin-bottom: 0.5em;
}

.lg-margin-bottom
{
	margin-bottom: 2.0em;
}

.no-margin-bottom
{
	margin-bottom: 0;
}

.avatar {
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	border: 20px solid rgba(0, 0, 0, 0.1);
}

.hr
{
	height:8px;
	width:100%;
	background-color: #bf5a16;
}

.sos-bg
{
	background: rgba(243, 240, 240, 1) url('/images/sos.png')
}

.wd-bg
{
	background: rgba(243, 240, 240, 1) url('/images/whitediamond.png')
}