.header
{
	margin-top: 65px; /*navbar height*/
}

.header .right {
  padding-top: 3em;
}

.sm-margin-right
{
	margin-right: 0.5em;
}

.avatar {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
border: 20px solid rgba(0, 0, 0, 0.1);
}