.header
{
	margin-top: 65px; /*navbar height*/
	margin-bottom: 0px;
}

.header .right {
  padding-top: 3em;
}

.sm-margin-right
{
	margin-right: 0.5em;
}

.sm-margin-left
{
	margin-left: 0.5em;
}

.sm-margin-bottom
{
	margin-bottom: 0.5em;
}

.lg-margin-bottom
{
	margin-bottom: 2.0em;
}

.avatar {
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	border: 20px solid rgba(0, 0, 0, 0.1);
}

.hr
{
	height:8px;
	width:100%;
	background-color: green;
}